.Modal{
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color:rgba(32,34,42,.8);
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}