.TodoSearch {
  background-image: linear-gradient(
    0deg,
    hsl(200deg 97% 64%) 0%,
    hsl(204deg 79% 57%) 4%,
    hsl(209deg 67% 51%) 9%,
    hsl(213deg 72% 44%) 15%,
    hsl(218deg 79% 38%) 22%,
    hsl(219deg 82% 36%) 32%,
    hsl(219deg 82% 36%) 46%,
    hsl(219deg 82% 36%) 60%,
    hsl(219deg 82% 36%) 71%,
    hsl(218deg 79% 38%) 79%,
    hsl(213deg 72% 44%) 85%,
    hsl(209deg 67% 51%) 91%,
    hsl(204deg 79% 57%) 96%,
    hsl(200deg 97% 64%) 100%
  );
  border: transparent;
  border-radius: 3px;
  /* -webkit-box-shadow: inset 0px 4px 52px -15px rgba(60,163,218,1);
-moz-box-shadow: inset 0px 4px 52px -15px rgba(60,163,218,1);
box-shadow: inset 0px 4px 52px -15px rgba(60,163,218,1); */
  margin: 0 24px;
  height: 64px;
  width: calc(100% - 62px);
  font-size: 24px;
  text-align: center;
  font-family: 'Montserrat';
  font-weight: 400;
  color:	#3CA3DA;
  text-shadow: -1px -1px 11px rgba(128, 0, 0, 0.98);
}

.TodoSearch::placeholder {
  color: white;
  font-family: 'Montserrat';
  font-weight: 400;
}

.TodoSearch:focus {
  outline-color: 	#3CA3DA;
}
